/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

:root{
	--bg-color: #ffffff;
	--text-color: #121212;
	--main-font: 2.2rem;
	--p-font: 1.1rem;
	--hue: 240;
	--first-color-modal: hsl(var(--hue), 16%, 18%);
	--first-color-alt-modal: hsl(var(--hue), 16%, 12%);
	--title-color-modal: hsl(var(--hue), 8%, 15%);
	--text-color-modal: hsl(var(--hue), 8%, 35%);
	--body-color-modal: hsl(var(--hue), 100%, 99%);
	--container-color-modal: #FFF;

	/*========== Font and typography ==========*/
	--body-font: 'Poppins', sans-serif;
	--big-font-size: 1.5rem;
	--normal-font-size: .938rem;
  
	/*========== z index ==========*/
	--z-modal: 1000;
}
body{
	background: var(--bg-color);
	color: var(--text-color);
}
header{
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	position: fixed;
	background: var(--bg-color);
	box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 8%;
	transition: .3s;
}
.logo{
	color: var(--text-color);
	font-size: var(--main-font);
	font-weight: 600;
	line-height: 0.8;
}
#menu-icon{
	font-size: 38px;
	color: var(--text-color);
	z-index: 10001;
	display: none;
}
.navbar{
	display: flex;
}
.navbar a{
	font-size: var(--p-font);
	color: var(--text-color);
	font-weight: 600;
	padding: 10px 15px;
	margin: 0 10px;
	transition: all .40s ease;
}
.navbar a:hover{
	background: var(--text-color);
	color: #fff;
}
.icons{
	display: inline-block;
}
.icons i{
	color: var(--text-color);
	font-size: 24px;
	margin-left: 15px;
}
.icons i:hover{
	opacity: 0.7;
}

section{
	padding: 100px 8%;
}
.container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(360px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	cursor: pointer;
	padding-top: 2rem;
}
.box{
	padding: 0px 20px 10px 20px;
	background: transparent;
	box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
	border-radius: 10px;
	position: relative;
	transition: all .35s ease;
	background-color: white;
}
.box img{
	width: 100%;
	height: auto;
	padding-top: 5%;
}
.box h4{
	font-size: 15px;
	letter-spacing: 1px;
	margin-bottom: 8px;
	padding-top: 8px;
}
.box h5{
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.box .cart i{
	position: absolute;
	top: 0;
	left: 0;
	width: 35px;
	height: 35px;
	background: var(--text-color);
	color: var(--bg-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}
.box:hover{
	transform: translateY(-5px);
}

.bordado{
	background: #f7f6f6;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.bordado-content{
	text-align: center;
}
.bordado-content h2{
	font-size: var(--main-font);
	margin-bottom: 30px;
}
.bordado-content p{
	max-width: 600px;
	font-size: var(--p-font);
	font-weight: 600;
	color: var(--text-color);
	line-height: 30px;
}

.talktous{
	background: #f7f6f606;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.talktous-content{
	text-align: center;
}
.talktous-content h2{
	font-size: var(--main-font);
	margin-bottom: 30px;
}
.talktous-content p{
	max-width: 600px;
	font-size: var(--p-font);
	font-weight: 600;
	color: var(--text-color);
	line-height: 30px;
}

.contact{
	padding: 80px 17%;
	background: var(--text-color);
}
.main-contact{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	gap: 2rem;
	margin-bottom: 3rem;
}
.contact-content li{
	margin-bottom: 15px;
}
.contact-content li a{
	display: block;
	color: var(--bg-color);
	font-size: var(--p-font);
	font-weight: 600;
	transition: all .40s ease;
}
.contact-content li a:hover{
	transform: translateX(-10px);
}
.action form{
	text-align: center;
}
.action form input[type="email"]{
	width: 460px;
	max-width: 100%;
	padding: 12px 15px;
	background: #515151;
	color: var(--bg-color);
	border: none;
	outline: none;
	margin: 0px 10px 20px 0px;
	font-size: 16px;
	font-weight: 600;
}

.action form input[type="submit"]{
	padding: 10px 35px;
	background: var(--bg-color);
	color: var(--text-color);
	border: none;
	outline: none;
	margin: 0px 10px 20px 0px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}
.last{
	text-align: center;
	padding: 17px;
	background: #757575;
}
.last p{
	color: var(--text-color);
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 2px;
}

.mySlides {
	display:none;
}

@media (max-width: 800px){
	#menu-icon{
		display: block;
	}
	header{
		padding: 15px 8%;
	}
    .logo {
        font-size: 15px;
    }
	.navbar{
		top: -500px;
		left: 0;
		right: 0;
		position: absolute;
		flex-direction: column;
		background: var(--bg-color);
		box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
		transition: all .40s ease;
	}
	.navbar a{
		display: block;
		padding: 1rem;
		margin: 0.5rem;
	}
	.navbar.active{
		top: 100%;
	}

	.icons {
		display: none;
	}

	.icons i{
		color: var(--text-color);
		font-size: 18.5px;
		margin-left: 15px;
	}

	/* Product Card */
	.box{
		padding: 0px 20px 10px 20px;
		margin-right: 1000px;
		background: transparent;
		box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
		border-radius: 10px;
		position: relative;
		transition: all .35s ease;
		background-color: white;
		width: 100%;
	}
}

@media screen and (min-width: 968px) {
	:root {
	  --big-font-size: 1.75rem;
	  --normal-font-size: 1rem;
	}
}

/*=============== MODAL ===============*/
.modal_container{
	margin-left: 1rem;
	margin-right: 1rem;
}
  
.modal{
	height: 100vh;
	display: grid;
	place-items: center;
}
  
.modal__button{
	display: inline-block;
	background-color: var(--first-color-modal);
	color: #FFF;
	padding: 1rem 1.25rem;
	border-radius: .5rem;
	transition: .3s;
}
  
.modal__button:hover{
	background-color: var(--first-color-alt-modal);
}
  
.modal__container{
	position: absolute;
	top: 0;
	left: 0;
	background-color: hsla(var(--hue), 18%, 75%, .8);
	width: 100%;
	height: 100%;
	display: grid;
	align-items: flex-end;
	overflow: hidden;
	transition: all .3s;
	z-index: var(--z-modal);
	visibility: hidden;
	opacity: 0;

	/*=== Effect 3 ===*/
	/* perspective: 1000px; */
}
  
.modal__content{
	position: relative;
	background-color: var(--container-color-modal);
	text-align: center;
	padding: 3rem 2rem 2rem;
	border-radius: 1rem 1rem 0 0;
	transition: all .3s;

	/*=== Effect 1 ===*/
	transform: translateY(10%);

	/*=== Effect 2 ===*/
	/* transform: scale(.5) translateY(10%); */

	/*=== Effect 3 ===*/
	/* transform: rotateX(65deg) scale(.75) translateY(10%);
	transform-origin: 50% 100%; */
}
  
.modal__img{
	width: 150px;
	margin-bottom: .75rem;
}
  
.modal__close{
	display: inline-flex;
	background-color: var(--first-color-modal);
	border-radius: .25rem;
	color: #FFF;
	font-size: 1.5rem;
	position: absolute;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
}
  
.modal__title{
	font-size: var(--big-font-size);
	color: var(--title-color-modal);
	font-weight: 500;
}
  
.modal__description{
	margin-bottom: 1.5rem;
}
  
.modal__button-width{
	width: 90%;
}
  
.modal__button-link{
	display: block;
	margin: 1rem auto 0;
	background-color: transparent;
	color: var(--first-color-modal);
	font-weight: 500;
}
  
/* Show modal */
.show-modal{
	visibility: visible;
	opacity: 1;
}
  
.show-modal .modal__content{
	/*=== Effect 1 ===*/
	transform: translateY(0);

	/*=== Effect 2 ===*/
	/* transform: scale(1) translateY(0); */

	/*=== Effect 3 ===*/
	/* transform: rotateX(0) scale(1) translateY(0); */
}
  
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 576px){
	.modal__content{
		margin: auto;
		width: 380px;
		border-radius: 1.25rem;
	}

	.modal__img{
		width: 170px;
	}
}